<p>*Don't know the longitude and latitude? You can find them <a href="https://www.latlong.net/">here</a>.</p>
 <form {{action 'createLocation' on='submit'}}>
Add Location Name {{input
 placeholder='Example: General Assembly'
 value=newLocation.name}}
 Add Longitude {{input
  placeholder='Example: -71.057057'
  value=newLocation.longitude}}
  Add Latitude  {{input
   placeholder='Example: 42.350274'
   value=newLocation.latitude}}
   Location Type{{input
    placeholder='Example: Park, Co-Working Space, Pub etc.'
    value=newLocation.locationType}}
 <button type='submit' class='btn-xs btn-secondary'>Save</button>
 </form>
