<nav class="navbar navbar-default">
  <div class="container-fluid" id="navvy">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li>{{#link-to "about-us"}}About Us{{/link-to}}</li>
        {{#if isAuthenticated}}
        {{!-- <li>{{#link-to "users"}}Users{{/link-to}}</li> --}}
        <li>{{#link-to "locations"}}Dog Friendly Locations 🐶{{/link-to}}</li>
        <li>{{#link-to "locations-new"}}Add New Location{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="main">
  <h1>Bring Waldo. <img src="https://i.imgur.com/4UQPZyk.png?3"></h1>
  <p><i>Go on a new adventure with your canine best friend</i></p>
</div>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
