<h5>Edit Location {{model.name}}</h5>
<form {{action 'updateLocation' on='submit'}}>
{{input placeholder='New Location Name'
value=this.name}}
{{!-- {{input placeholder='New Location Longitude'
value=this.longitude}}
{{input placeholder='New Location Latitude'
value=this.latitude}}
{{input placeholder='New Location Type'
value=this.locationType}} --}}
<button type='submit'>Update</button>
</form>
