<h3>Edit This Location</h3>
<form {{action 'updateLocation' on='submit'}}>
{{input placeholder='New Location Name'
value=this.name}}
{{!-- {{input placeholder='New Location Longitude'
value=this.longitude}}
{{input placeholder='New Location Latitude'
value=this.latitude}}
{{input placeholder='New Location Type'
value=this.locationType}} --}}
<button type='submit'class='btn-xs btn-secondary'>Update</button>
</form>
