<h3>Edit This Location</h3>
<p><i>*(You Might Need To Stroll To Update Items)</i></p>
<div class="edit-location">
<form {{action 'updateLocation' on='submit'}}>
Location Name: {{input placeholder='New Location Name'
value=this.name}}<br>
New Longitude: {{input placeholder='New Location Longitude'
value=this.longitude}}<br>
New Latitude:
{{input placeholder='New Location Latitude'
value=this.latitude}}<br>
New Location Type:
{{input placeholder='New Location Type'
value=this.locationType}}<br>
<button type='submit'class='btn-xs btn-secondary'>Update</button>
</form>
</div>
