<h3>{{model.name}}</h3>
<p>Location Longitude: {{model.longitude}}</p>
<p>Location Latitude: {{model.latitude}}</p>
<p>Location Type: {{model.locationType}}</p>
{{update-location location=model updateLocation='updateLocation'}}
{{#link-to "locations"}}Go Back To List Of Locations{{/link-to}}
